<plugin name='mongo-audit-log' version='0.9-SNAPSHOT' grailsVersion='2.3 &gt; *'>
  <author>Jonas Ladenfors</author>
  <authorEmail>jonas.ladenfors@gmail.com</authorEmail>
  <title>Grails mongo Audit Event Log Plugin</title>
  <description>Enables audit logging for Grails domain classes on the Mongo datastore based on Andre Steingress hibernate audit work. 
</description>
  <documentation>https://github.com/jladenfors/grails-hibernate-auditlog</documentation>
  <type>MongoAuditLogGrailsPlugin</type>
  <resources>
    <resource>BootStrap</resource>
    <resource>spring.resources</resource>
    <resource>grails.plugin.mongoaudit.AuditLogEvent</resource>
  </resources>
</plugin>